{
  "$schema": "https://ugs-config-schemas.unity3d.com/v1/economy/economy-real-purchase.schema.json",
  "storeIdentifiers": {
    "appleAppStore": "coin_pack_100_apple",
    "googlePlayStore": "coin_pack_100_play"
  },
  "rewards": [
    {
      "resourceId": "COIN",
      "amount": 100
    }
  ],
  "name": "Coin Pack 100"
}