{
  "$schema": "https://ugs-config-schemas.unity3d.com/v1/economy/economy-real-purchase.schema.json",
  "storeIdentifiers": {
    "appleAppStore": "coin_pack_5000_apple",
    "googlePlayStore": "coin_pack_5000_play"
  },
  "rewards": [
    {
      "resourceId": "COIN",
      "amount": 5000
    }
  ],
  "name": "Coin Pack 5000"
}