{
  "entries": {
    "EVENT_NAME": "",
    "EVENT_END_TIME": 0,
    "EVENT_KEY": "",
    "EVENT_TOTAL_DURATION_MINUTES": 0,
    "SEASONAL_EVENTS_CHALLENGE_REWARD": {
      "rewards": [
        {
          "id": "COIN",
          "quantity": 100,
          "sprite_address": "Sprites/Currency/Coin"
        }
      ]
    }
  },
  "types": {
    "EVENT_END_TIME": "INT",
    "EVENT_TOTAL_DURATION_MINUTES": "INT"
  }
}
