{
  "entries": {
    "BATTLE_PASS_SEASON_XP_PER_TIER": 100,
    "BATTLE_PASS_REWARDS_FREE": [],
    "BATTLE_PASS_REWARDS_PREMIUM": []
  },
  "types": {
    "BATTLE_PASS_SEASON_XP_PER_TIER": "INT"
  }
}
